@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 80px;
    margin-left: 50px;
    margin-top: 10px;
}

.botoes {
    margin-top: 30px;
    margin-right: 50px;
}

.botoes a {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 8px;
}

.botoes a:hover {
    color: rgb(253, 140, 48);}

#orcamento {
    color: white;
    background-color: rgb(253, 140, 48);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}

#orcamento:hover{
    background-color: #000000;
    color: rgb(253, 140, 48);

}

#agendar {
    color: white;
    background-color: rgb(253, 140, 48);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}

#agendar:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 140, 48);
}

.inicio {
    display: flex;
    font-family: "Open Sans", sans-serif;
    justify-content: space-between;
    background-color: rgb(229, 229, 229);
    margin-left: 800px;
    padding-top: 200px;
    padding-right: 300px;
    position: absolute;
    margin-top: -100px;
    z-index: -1;
}

#seta {
    display: flex;
    justify-content: end;
}

#seta i {
    width: 15px;
    background-color: rgb(224, 224, 224);
    border-radius: 100px;
    border: 4px solid rgb(255, 102, 0);
    position: fixed;
    margin-top: 600px;
    margin-right: 20px;
    padding: 15px;
    color: #000;
}

#seta i:hover{
    background-color: #000;
    color: coral;
}

.texto {
    margin-left: -800px;
    margin-top: -30px;
}

.texto h1 {
    margin-left: 110px;
    font-size: 80px;
    line-height:65px;
}

.texto h4 {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: rgb(253, 140, 48);
    margin-left: 115px;
    font-weight: 200;
    width: 125px;
    margin-top: -50px;
    font-size: 20px;
    padding: 5px;
}

h5 {
    font-family: "Open Sans", sans-serif;
}

#frase {
    margin-left:115px;
    margin-top: 480px;
}

.inicio img {
    filter: grayscale(100%) brightness(130%);
    width: 600px;
    margin-top: -130px;
    margin-left: 200px;
    height: 600px;
    object-fit: cover;
}

 

.marquee {
    position: relative;
    width: 200vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
    margin-top: 70px;
  }
  
.track {
    font-family: none;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
    font-size: 50px;
    font-weight: bold;
    color: #dddddd;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }


.sobre {
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    margin-right: -10px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.box1 img {
    width: 250px;
    padding: 20px;
}

.sobreBox {
    padding: 40px;
}

.sobreBox h1 {
    font-size: 35px;
}

.sobreBox p {
    font-family: "Inter", sans-serif;
    text-align: justify;
}

.box2 h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.fotosEnsaios img {
    width: 800px;
    height: 550px;
    object-fit: cover;
    padding: 10px;
}

#familia {
    height: 450px;
}

.ens1 h3 {
    text-align: center;
    font-weight: 400;
    margin-top: 0;
}

.eventos {
    font-family: "Inter", sans-serif;
    margin-top: -20px;
    margin-right: -10px;
    padding-top: 100px;
}



.container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }
  
.relatos {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}



.relatos span {
    font-family: Inter, sans-serif;
    padding: .3rem 3.2rem; 
	background: #f57600;
	color: rgb(255, 255, 255);
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
}


/* Card */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin-left: 100px;
    white-space: nowrap; /* Impede que os itens do carrossel quebrem linha */
    overflow-x: hidden;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


.carousel {
    display: inline-flex; /* Exibe os itens em uma linha horizontal */
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}





.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.carousel::-webkit-scrollbar {
width: 10px;
height: 10px;
}
.carousel::-webkit-scrollbar-thumb {
background: black;
border-radius: 10px;
}
.carousel::-webkit-scrollbar-track {
background: transparent;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;

}


.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background-color: rgb(255, 102, 0);
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.carousel .card:hover{
    background-color: #000;
    color: #f57600;
}

.card .img {
    background-color: #f57600;
    width: 148px;
    height: 148px;
    border-radius: 50%;

}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h3 {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 1.56rem;
    margin: 10px 0 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.card span {
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.31rem;
    text-align: center;
}

.social {
    display: flex;
    column-gap: .6rem;
    margin-top: 350px;
    margin-left: -500px;
}
.social a .bx {
	font-size: 30px;
	color: rgb(0, 0, 0);
	padding: 20px;
	background: #f57600;
    border-radius: 20px;
}

.social a .bx:hover {
    background-color: #000;
    color: #f57600;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    text-align: center; /* Centralizando os cards */
    margin-top: 50px;
}

.container1 {
    text-align: left;
    margin-top: 50px;
    margin-right: 150px;
}

.budget {
    padding-top: 100px;
    padding: 80px;
}

.budget-wrapper {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
}

.budget-wrapper h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.budget-info {
    margin-left: 150px;
}

.budget-info img {
    width: 250px;
    margin-top: 55%;
}

.budget form {
    max-width: 400px; /* Define a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
}

.budget form legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.budget form .input-group {
    margin-bottom: 15px; /* Adiciona espaçamento entre os campos */
}

.container {
    text-align: left;
}

.budget form .input-group label {
    display: block; /* Faz com que as labels ocupem toda a largura disponível */
    margin-bottom: 5px; /* Adiciona espaçamento abaixo das labels */
}

.budget form .input-group input,
.budget form .input-group select,
.budget form .input-group textarea {
    width: 350px; /* Define a largura dos campos de entrada como 100% */
    padding: 10px; /* Adiciona preenchimento interno aos campos */
    border-radius: 10px;
    border: 1px solid rgb(253, 140, 48);
    box-sizing: border-box; /* Faz com que o padding não aumente a largura do campo */
}

.budget form button {
    padding: 10px; /* Adiciona preenchimento ao botão */
    background-color: rgb(253, 140, 48);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 350px;
}

.budget form button:hover {
    background-color: rgb(0, 0, 0);
    color: #ff8800;
}

.budget form textarea {
    height: 100px; /* Define a altura do campo de texto */
}

.budget-info {
    display: flex;
    flex-direction: column;
}

.budget-info h1 {
    font-size: 50px; /* Tamanho do título */
    margin-bottom: 10px; /* Adiciona espaço entre o título e o texto */
}

.budget-info h3 {
    font-size: 10px; /* Tamanho do texto descritivo */
    margin: 0; /* Remove margens padrão */
}

footer  {
    text-align: center;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
}

footer h4 {
    font-weight: 400;
}

.copyright{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    height: 30px;
    margin-top: -90px;
}

.copyright:hover{
    color: #f57600;
}


.btn--action{
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #ff7b00;
    color: #000;
    transition: all .5s ease 0s;
    box-shadow: 0 10px #f57600;
}

.btn--action:hover{
    box-shadow: inset 0 0 0 .25rem
    #000000;
    color: #f57600;
    background-color: #000;
}

.btn--action span {
    display: inline-block;
    position: relative;
    transition: all .5s ease;
}

.btn--action span::before{
    color: #000;
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 1.5rem;
    opacity: 0;
    transition: all .1s ease 0s;
}

.btn--action:hover span{
    padding-left: 1.5rem;
}

.btn--action:hover span::before{
    left: 0;
    opacity: 1;
}

.btn--action:active{
    box-shadow: 0 5px #f0932b;
    transform: translateY(5px);
}


@media (max-width: 768px) { 

    #seta {
        display: flex;
        justify-content: end;
    }
    
    #seta img{
        width: 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        border: 1px solid #000;
        position: fixed;
        margin-top: 670px;
        margin-right: 10px;
        padding: 5px;
    }

    header img {
        width: 60px;
        height: 60px;
        margin-left: 50px;
        margin-top: 10px;
    }

    .botoes {
        margin-top: 30px;
        margin-right: 50px;
    }
    
    .botoes a {
        display: none;
    }

    #orcamento {
        display: block;
        color: white;
        background-color: rgb(255, 102, 0);
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50px;
        margin-top: -10px;
        width: 90px;
        font-size: 15px;
    }
    .inicio {
        display: flex;
        font-family: "Open Sans", sans-serif;
        justify-content: space-between;
        align-items: center;
        background: none;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        position: static;
        margin-top: 40px;
        z-index: -1;
        flex-direction: column-reverse;
    } 
    
    .texto {
        margin-left: 0px;
        margin-top: -70px;
        z-index: 1;
    }

    .texto h1 {
        margin-left: 10px;
        font-size: 60px;
        line-height:55px;
    }

    .texto h1 span {
        text-shadow: 1px -20px 50px rgb(255, 255, 255);
    }
    
    .texto h4 {
        font-family: "Inter", sans-serif;
        color: white;
        background-color: rgb(255, 102, 0);
        margin-left: 14px;
        font-weight: 200;
        padding-left: 4px;
        width: 125px;
        margin-top: -45px;
        font-size: 20px;
    }
    
    h5 {
        font-family: "Open Sans", sans-serif;
    }
    
    #frase {
        margin-left:55px;
        margin-top: 10px;
    }    
    
    .inicio img {
        filter: grayscale(100%) brightness(130%);
        width: 300px;
        margin-top: 0px;
        margin-left: 0px;
        height: 300px;
        object-fit: cover;
    }

    .sobre {
        font-family: "Inter", sans-serif;
        background-color: fff;
        margin-top: 50px;
        margin-right: 0px;
    }
    
    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:35px;
        flex-direction: column;
    }
    
    .box1 img {
        filter: grayscale(100%) brightness(110%);
        width: 150px;
        padding: 20px;
    }
    
    .sobreBox {
        padding: 0px;
    }
    
    .sobreBox h1 {
        font-size: 35px;
    }
    
    .sobreBox p {
        text-align: justify;
    }
    
    .ensaios {
        font-family: "Inter", sans-serif;
        background-color: fff;
        padding: 50px;
        margin-top: -10px;
        margin-right: -10px;
    }
    
    .fotosEnsaios {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .box2 h1 {
        font-size: 30px;
        text-align: center;
        padding: 20px;
        padding-bottom: 0px;
    }
    
    .fotosEnsaios img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    
    #familia {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    
    .ens1 h3 {
        text-align: center;
        font-weight: 400;
        margin-top: 0;
    }
    
    .eventos {
        font-family: "Inter", sans-serif;
        background-color: fff;
        margin-top: -20px;
        margin-right: -10px;
        padding-top: 100px;
    }



    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      
      .relatos {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font-family: "Inter", sans-serif;
    }

    .relatos h1 {
        font-size: 20px;
        margin-bottom: -20px;
    }
    
      /* Card */
      .card {
        width: 300px;
        height: 460px;
        margin: 25px;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        transition: 0.3s;
      }
      
      /* Card Header*/
      .card-header {
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .card-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
      
      /* Card Body */
      .card-body {
        height: 170px;
        padding: 15px;
        text-align: center;
        font-family: sans-serif;
      }
      
      .card-local {
        font-size: 16px;
        margin: 10px 0;
      }
      
      
      .card-texto {
        font-size: 12px;
        width: 250px;
        margin: 0 auto;
      }
      
      
      /* Animação Hover */
      .card:hover {
        transform: scale3d(1.1, 1.1, 1);
      }
      
    
    .container {
        max-width: 1200px;
        margin: 30px auto;
        text-align: center; /* Centralizando os cards */
        margin-top: 50px;
    }

    .container1 {
        text-align: left;
        margin-top: 0px;
        margin-right: 0px;
    }

    #orcamento1 {
        display: flex;
        flex-direction: column;
    }
    
    .budget-wrapper {
        font-family: "Inter", sans-serif;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .budget-wrapper h2 {
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
    }
    
    .budget-info {
        margin-left: 0;
        align-items: center;
    }

    .budget-info h2 {
        text-align: center;

    }
    
    .budget-info img {
        width: 250px;
        margin-top: 70%;
        display: none;
    }
    
    .budget form {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }
    
    .budget form legend {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    
    .budget form .input-group {
        margin-bottom: 15px; /* Adiciona espaçamento entre os campos */
    }
    
    .container {
        text-align: left;
    }
    
    .budget form .input-group label {
        display: block; /* Faz com que as labels ocupem toda a largura disponível */
        margin-bottom: 5px; /* Adiciona espaçamento abaixo das labels */
    }
    
    .budget form .input-group input,
    .budget form .input-group select,
    .budget form .input-group textarea {
        width: 350px; /* Define a largura dos campos de entrada como 100% */
        padding: 10px; /* Adiciona preenchimento interno aos campos */
        border-radius: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box; /* Faz com que o padding não aumente a largura do campo */
    }
    
    .budget form button {
        padding: 10px; /* Adiciona preenchimento ao botão */
        background-color: #ff9900;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        width: 350px;
    }
    
    .budget form button:hover {
        background-color: #919191;
    }
    
    .budget form textarea {
        height: 100px; /* Define a altura do campo de texto */
    }
    
    .budget-info {
        display: flex;
    }
    
    .budget-info h1 {
        font-size: 50px; /* Tamanho do título */
        margin-bottom: 10px; /* Adiciona espaço entre o título e o texto */
    }
    
    .budget-info h3 {
        font-size: 10px; /* Tamanho do texto descritivo */
        margin: 0; /* Remove margens padrão */
    }
    
    footer  {
        text-align: center;
        margin-top: 100px;
        font-family: "Inter", sans-serif;
        padding: 20px;
    }
    
} 



.test {
    background: url("Design\ sem\ nome.png");
    background-repeat: repeat;
    background-size: contain;
}

  .slideshow-container {
    width: 500px;
    position: relative;
    margin: auto;
  }

  .slideshow-container h1 {
    font-family: Inter, sans-serif;
    text-align: center;
    color: white;
    background-color: #f57600;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides img{
    width: 500px;
    height: 600px;
    object-fit: cover;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(253, 140, 48);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    filter: opacity(50%);
  }
  
  /* Caption text */
  .text {
    font-family: Inter, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 102, 0);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #ff7c12;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  
  .slideshow-container2 {
    width: 500px;
    position: relative;
    margin: auto;
    margin-top: 100px;
  }


  .slideshow-container2 h1 {
    font-family: Inter, sans-serif;
    text-align: center;
    color: white;
    background-color: #f57600;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  }
  
  
  /* Hide the images by default */
  .mySlides2 {
    display: none;
  }

  .mySlides2 img{
    width: 500px;
    height: 600px;
    object-fit: cover;
  }
  
  /* Next & previous buttons */
  .prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(253, 140, 48);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev2:hover, .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
    filter: opacity(50%);
  }
  
  /* Caption text */
  .text2 {
    font-family: Inter, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 102, 0);
  }
  
  /* Number text (1/3 etc) */
  .numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot2:hover {
    background-color: #ff7c12;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


@media (max-width: 768px) {

    #seta {
        display: flex;
        justify-content: end;
        z-index: 1;
    }
    
    #seta i {
        width: 15px;
        background-color: rgb(224, 224, 224);
        border-radius: 100px;
        border: 4px solid rgb(255, 102, 0);
        position: fixed;
        margin-top: 600px;
        margin-right: 20px;
        padding: 15px;
        color: #000;
        z-index: 1;
    }
    
    #seta i:hover{
        background-color: #000;
        color: coral;
    }

    .slideshow-container,
    .slideshow-container2 {
        width: 350px;
        margin: 50px auto;
    }

    .mySlides,
    .mySlides2 {
        width: 350px;
    }

    .mySlides img,
    .mySlides2 img {
        width: 350px;
        height: 400px;
    }

    .prev,
    .next,
    .prev2,
    .next2 {
        font-size: 14px;
        padding: 12px;
    }

    .text,
    .text2 {
        font-size: 14px;
    }

    .numbertext,
    .numbertext2 {
        font-size: 12px;
    }

    .relatos {
        font-family: Inter, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-left: 12%;
    }
    
    
    .relatos span {
        font-family: Inter, sans-serif;
        padding: .3rem 3.2rem; 
        background: #f57600;
        color: rgb(255, 255, 255);
        font-weight: 600;
        display: inline-block;
        text-transform: uppercase;
        clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    }

    .wrapper {
        max-width: 400px;
        width: 400px;
        position: relative;
        margin-left: 0px;
        white-space: nowrap; /* Impede que os itens do carrossel quebrem linha */
        overflow-x: hidden;
    }

    .carousel {
        width: 900px;
        height: 400px;
    }

    .carousel .card {
        height: 342px;
        list-style: none;
        background-color: rgb(255, 102, 0);
        border-radius: 8px;
        display: flex;
        cursor: pointer;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }

    .card .img {
        background-color: #f57600;
        width: 148px;
        height: 148px;
        border-radius: 50%;
    
    }
    
    .card .img img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #fff;
    }
    
    .card h3 {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 1.26rem;
        margin: 10px 0 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .card span {
        font-family: Inter, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        text-align: center;
    }


    .budget {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .budget-wrapper {
        font-family: "Inter", sans-serif;
        display: flex;
        justify-content: center;
    }
    
    .budget-wrapper h2 {
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
    }
    
    .budget-info {
        margin-left: 0px;
    }
    
    .budget-info img {
        width: 250px;
        margin-top: 55%;
    }
    
    .budget form {
        max-width: 400px; /* Define a largura máxima do formulário */
        margin: 0 auto; /* Centraliza o formulário na página */
    }
    
    .budget form legend {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    
    .budget form .input-group {
        margin-bottom: 15px; /* Adiciona espaçamento entre os campos */
    }
    
    .container {
        text-align: justify;
    }
    
    .budget form .input-group label {
        display: block; /* Faz com que as labels ocupem toda a largura disponível */
        margin-bottom: 5px; /* Adiciona espaçamento abaixo das labels */
    }
    
    .budget form .input-group input,
    .budget form .input-group select,
    .budget form .input-group textarea {
        width: 350px; /* Define a largura dos campos de entrada como 100% */
        padding: 10px; /* Adiciona preenchimento interno aos campos */
        border-radius: 10px;
        border: 1px solid rgb(253, 140, 48);
        box-sizing: border-box; /* Faz com que o padding não aumente a largura do campo */
    }
    
    .budget form button {
        padding: 10px; /* Adiciona preenchimento ao botão */
        background-color: rgb(253, 140, 48);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        width: 350px;
    }
    
    .budget form button:hover {
        background-color: rgb(0, 0, 0);
        color: #ff8800;
    }
    
    .budget form textarea {
        height: 100px; /* Define a altura do campo de texto */
    }
    
    .budget-info {
        display: flex;
        flex-direction: column;
    }
    
    .budget-info h1 {
        font-size: 50px; /* Tamanho do título */
        margin-bottom: 10px; /* Adiciona espaço entre o título e o texto */
    }
    
    .budget-info h2 {
        text-align: justify;
    }

    .social {
        display: none;
    }
    
    .container1 {
        margin-top: 50px;
    }

}
