@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 80px;
    margin-left: 50px;
    margin-top: 10px;
}

.botoes {
    margin-top: 30px;
    margin-right: 50px;
}

.botoes a {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 8px;
}

.botoes a:hover {
    text-decoration: underline;
    
}

#orcamento {
    color: white;
    background-color: black;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}

.inicio {
    display: flex;
    font-family: "Open Sans", sans-serif;
    justify-content: space-between;
    background-color: rgb(229, 229, 229);
    margin-left: 800px;
    padding-top: 200px;
    padding-right: 300px;
    position: absolute;
    margin-top: -100px;
    z-index: -1;
}

.texto {
    margin-left: -800px;
    margin-top: -30px;
}

.texto h1 {
    margin-left: 110px;
    font-size: 80px;
    line-height:65px;
}

.texto h4 {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: black;
    margin-left: 115px;
    font-weight: 200;
    padding-left: 4px;
    width: 125px;
    margin-top: -50px;
    font-size: 20px;
}

h5 {
    font-family: "Open Sans", sans-serif;
}

#frase {
    margin-left:115px;
    margin-top: 480px;
}

.inicio img {
    filter: grayscale(100%) brightness(130%);
    width: 600px;
    margin-top: -130px;
    margin-left: 200px;
    height: 600px;
    object-fit: cover;
}

.sobre {
    font-family: "Inter", sans-serif;
    background-color: rgb(229, 229, 229);
    margin-top: 50px;
    margin-right: -10px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.box1 img {
    filter: grayscale(100%) brightness(110%);
    width: 250px;
    padding: 20px;
}

.sobreBox {
    padding: 40px;
}

.sobreBox h1 {
    font-size: 35px;
}

.sobreBox p {
    text-align: justify;
}

.ensaios {
    font-family: "Inter", sans-serif;
    background-color: rgb(229, 229, 229);
    margin-top: -30px;
    margin-right: -10px;
}

.fotosEnsaios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.fotosEnsaios img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    padding: 10px;
}

#familia {
    height: 450px;
}

.ens1 h3 {
    text-align: center;
    font-weight: 400;
    margin-top: 0;
}

.eventos {
    font-family: "Inter", sans-serif;
    background-color: rgb(229, 229, 229);
    margin-top: -20px;
    margin-right: -10px;
    padding-top: 100px;
}

@media (max-width: 768px) { 
    header img {
        width: 60px;
        height: 60px;
        margin-left: 50px;
        margin-top: 10px;
    }

    .botoes {
        margin-top: 30px;
        margin-right: 50px;
    }
    
    .botoes a {
        display: none;
    }

    #orcamento {
        display: block;
        color: white;
        background-color: black;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50px;
        margin-top: -10px;
        width: 90px;
        font-size: 15px;
    }
    .inicio {
        display: flex;
        font-family: "Open Sans", sans-serif;
        justify-content: space-between;
        align-items: center;
        background: none;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        position: static;
        margin-top: 0px;
        z-index: -1;
        flex-direction: column-reverse;
    } 
    
    .texto {
        margin-left: 0px;
        margin-top: -70px;
        z-index: 1;
    }

    .texto h1 {
        margin-left: 10px;
        font-size: 60px;
        line-height:55px;
    }

    .texto h1 span {
        text-shadow: 1px -20px 50px rgb(255, 255, 255);
    }
    
    .texto h4 {
        font-family: "Inter", sans-serif;
        color: white;
        background-color: black;
        margin-left: 14px;
        font-weight: 200;
        padding-left: 4px;
        width: 125px;
        margin-top: -45px;
        font-size: 20px;
    }
    
    h5 {
        font-family: "Open Sans", sans-serif;
    }
    
    #frase {
        margin-left:55px;
        margin-top: 10px;
    }    
    
    .inicio img {
        filter: grayscale(100%) brightness(130%);
        width: 300px;
        margin-top: 0px;
        margin-left: 0px;
        height: 300px;
        object-fit: cover;
    }
} 
